# APP
APP_NAME=Resik
APP_NAME_KEY=resik
APP_VERSION=0.1

# REST
REST_MODULE_NAME=REST
REST_MODULE_NAME_KEY=rest
REST_MODULE_VERSION=0.1
REST_MODULE_ENV=development
REST_MODULE_HOST=127.0.0.1
REST_MODULE_PORT=8081
REST_MODULE_PUBLIC_HOST=127.0.0.1
REST_MODULE_PUBLIC_PORT=8081
REST_MODULE_PUBLIC_SCHEMA=http
REST_MODULE_PUBLIC_BASE_PATH=
REST_MODULE_LANG_DEFAULT=en
REST_HTTP_READ_HEADER_TIMEOUT=3s
REST_HTTP_READ_TIMEOUT=15s
REST_HTTP_WRITE_TIMEOUT=30s
REST_HTTP_IDLE_TIMEOUT=90s
REST_DATABASE_MAX_OPEN_CONS=30
REST_DATABASE_MAX_IDLE_CONS=5
REST_DATABASE_CONN_MAX_LIFETIME=5m
REST_DATABASE_CONN_MAX_IDLETIME=5m
REST_DATABASE_IS_DEBUG=true
REST_AUTH_EXPIRES=24h
REST_LOG_FILE=logs/rest.log

# gRPC
GRPC_MODULE_NAME=gRPC
GRPC_MODULE_NAME_KEY=grpc
GRPC_MODULE_VERSION=0.1
GRPC_MODULE_ENV=development
GRPC_MODULE_HOST=127.0.0.1
GRPC_MODULE_PORT=7071
GRPC_MODULE_LANG_DEFAULT=en
GRPC_DATABASE_MAX_OPEN_CONS=30
GRPC_DATABASE_MAX_IDLE_CONS=5
GRPC_DATABASE_CONN_MAX_LIFETIME=5m
GRPC_DATABASE_CONN_MAX_IDLETIME=5m
GRPC_DATABASE_IS_DEBUG=true
GRPC_AUTH_EXPIRES=24h
GRPC_LOG_FILE=logs/grpc.log

# SHARED DATABASE
DATABASE_ENGINE=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SCHEMA=dbname
DATABASE_HEALTHCHECK_TIMEOUT=2s

# SHARED REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=0
REDIS_POOL_SIZE=5
REDIS_HEALTHCHECK_TIMEOUT=500ms

# RATE LIMIT
RATE_LIMIT_DRIVER=redis
RATE_LIMIT_PERIOD=1m
RATE_LIMIT_LIMIT=100
RATE_LIMIT_PREFIX="rate_limit"

# SHARED AUTH
AUTH_SIGNATURE_KEY=secret
AUTH_HASH_MEMORY=65536 # 64 MB
AUTH_HASH_ITERATIONS=3
